<mat-toolbar class="habit-footer">
    <mat-grid-list class="habit-footer-list" cols="3" rowHeight="fit">
        <mat-grid-tile>
            <mat-list class="habit-side-bar">
                <mat-list-item>
                  <mat-icon mat-list-icon class="habit-side-bar">perm_identity</mat-icon>
                  <div mat-line class="habit-side-bar">Perfil</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon mat-list-icon class="habit-side-bar">timeline</mat-icon>
                  <div mat-line class="habit-side-bar">Historial</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon mat-list-icon class="habit-side-bar">question_answer</mat-icon>
                  <div mat-line class="habit-side-bar">Contacto</div>
                </mat-list-item>
              </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list class="habit-side-bar">
                <mat-list-item>
                  <mat-icon mat-list-icon class="habit-side-bar">home</mat-icon>
                  <div mat-line class="habit-side-bar">Home</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon mat-list-icon class="habit-side-bar">today</mat-icon>
                  <div mat-line class="habit-side-bar">Habitos</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon mat-list-icon class="habit-side-bar">question_answer</mat-icon>
                  <div mat-line class="habit-side-bar">Contacto</div>
                </mat-list-item>
              </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list class="habit-side-bar">
                <mat-list-item>
                  <mat-icon mat-list-icon class="habit-side-bar">home</mat-icon>
                  <div mat-line class="habit-side-bar">Home</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon mat-list-icon class="habit-side-bar">perm_identity</mat-icon>
                  <div mat-line class="habit-side-bar">Perfil</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon mat-list-icon class="habit-side-bar">question_answer</mat-icon>
                  <div mat-line class="habit-side-bar">Contacto</div>
                </mat-list-item>
              </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
</mat-toolbar>