<form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text"
             placeholder="Search"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto"
             class="search-input">
      <mat-autocomplete #auto="matAutocomplete" class="search-input">
        <mat-option *ngFor="let option of options" [value]="option" class="search-input">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
