<div class="call-to-action-container">
    <mat-card class="call-to-action-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <img mat-card-image src="https://github.com/DavidMS/habit-builder-front/blob/master/src/assets/images/SunSet01.jpg" alt="Photo of sunset">
        <mat-card-content class="call-to-action-content">
          <h1 class="call-to-action-h1">Habit Builder</h1>
          <h2>Vive una aventura en tu día a día mientras construyes nuevos hábitos positivos y destruyes los negativos.</h2>
          <button mat-fab class="call-to-action-button"><mat-icon>today</mat-icon></button>
          
          <h3>Empezar</h3>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
</div>

<app-product-list></app-product-list>
