.call-to-action-component {
    padding: 0px;
}

.call-to-action-card {
    height: 600px;
    margin: 50px 30px 30px 30px;
    padding: 0px;
}

.call-to-action-content {
    text-align: center;
}

.call-to-action-h1 {
    margin-top: 15px;
}

.call-to-action-h2 {
    margin: 10px;
    font-weight: normal;
    color: grey;
}

.call-to-action-button {
    margin:20px;
    
}

.call-to-action-header {
    text-align: center;
}

.call-to-action-photo {
    background-image: url("/assets/images/Jimena.png");
    background-size: auto;
    background-position: -225px -30px;
    height: 350px;
    width:100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; 
}